
a:link {
    text-decoration: none;
    color:black;

  }
  
  
  a:active {
    color:black;
      text-decoration: none; 
  }
  a:visited {
    color:black;
      text-decoration: none;
  }  
a:hover {
  color:none;
    text-decoration: none;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);

}

@media (max-width: 767px) { 
  .d-flex {
    display: unset !important;
  }
}
